@value space from './shared.css';

.wall {
  column-width: 300px;
  column-gap: space;
  padding: space;
}

.brick {
  margin-bottom: space;
  width: 100%;
  display: block;
  transition: transform 0.15s ease-out;
  cursor: pointer;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.02);
  }
}
