.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

:global(body) {
  margin: 0;
  padding: 0;
}

@value space: 10px;
